<h1>Safari iOS - IndexedDB instability</h1>

<p>This page was built to demonstrate instability in the implementation of IndexedDB in Safari/iOS (iPad 2, iOS 11.2.6 (15D100)), which can be seen either by pushing data too rapidly, or by pushing too much data. <i>Unfortunately, this results in the application's IndexedDB data being lost.</i></p>
<p>To demonstrate:</p>

<div id="init">
  <div>
    <label>
      Select data size:
      <select (change)="dataChanged($event)">
        <option selected disabled>Data size</option>
        <option *ngFor="let size of dataSizes" [value]="size">{{size}}MB</option>
      </select>
    </label>
  </div>

  <div>
    <label>
        Select interval:
      <select (change)="intervalChanged($event)">
        <option selected="selected">Interval</option>
        <option *ngFor="let size of intervalSizes" [value]="size">
          <span *ngIf="!size">None</span>
          <span *ngIf="size">{{size}}ms</span>
        </option>
      </select>
    </label>
  </div>

  <div>
    <button [disabled]="insertDisabled" (click)="insertDataClick()">Insert Data</button>
  </div>
</div>

<hr>

<button [disabled]="buttonsDisabled" class="clear" (click)="clearDbClick()">Clear IndexedDB</button>

<hr>

<div>Status: {{status}}</div>
<div>DB Size: {{(currentDbSize / 1024 / 1024).toFixed(2)}} MB</div>

<div *ngIf="statusHistory.length">
  <hr>
  <p><b>History</b></p>
  <div *ngFor="let status of statusHistory">{{status}}</div>
</div>

<p>Source and details: <a href="https://github.com/supdegrave/safari-ios-indexeddb-issues">GitHub</a>.</p>
