* {
  font-family: Lato;
}

button {
  cursor: pointer;
  border: solid 1px lightgray;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding: 2px 5px;
}
button.clear {
  width: auto;
}
button:disabled {
  cursor: not-allowed;
}

select {
  font-size: 1em;
}

div#init {
  text-align: right;
  display: inline-block;
}
div#init > div {
  margin: 4px 0;
}

label > select,
div#init button {
  width: 100px;
}
